<div class="container">
  <div class="row p-5">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <h2>Simple Wallet App</h2>
      </div>
    </div>
  </div>
  <div *ngIf="isLoaded" class="col-md-12 my-4">
    <div class="d-flex justify-content-center">
      <h2>Account balance</h2>
    </div>
    <div class="d-flex justify-content-center">
      <p>{{ balance }} TCRO</p>
    </div>
    <div class="d-flex justify-content-center">
      <h2>My wallet address</h2>
    </div>
    <div class="d-flex justify-content-center">
      <p>{{ userWalletAddress }}</p>
    </div>
  </div>

  <div *ngIf="isLoaded" class="d-flex justify-content-center">
    <!-- <button
      [disabled]="isTransactionPending"
      (click)="handleTransaction()"
      class="btn btn-primary"
    >
      Send 1 TCRO
    </button> -->
    <div class="col-md-7">
      <div class="d-flex justify-content-center">
        <h5>Send To</h5>
      </div>
      <div class="form-contorl">
        <input
          type="text"
          class="form-control my-2"
          placeholder="Targeted wallet address"
          [(ngModel)]="targetAddress"
        />

        <div class="d-flex justify-content-center">
          <div class="input-group mb-2 w-50">
            <input
              type="number"
              aria-describedby="amount"
              [min]="0"
              id="amount"
              class="form-control"
              placeholder="0.1"
              [(ngModel)]="targetAmount"
            />
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button
            [disabled]="!targetAddress || !targetAmount || isTransactionPending"
            (click)="handleTransaction(targetAddress, targetAmount)"
            class="btn btn-primary"
          >
            Send Transaction
          </button>
        </div>
      </div>
      <br />
    </div>
  </div>

  <div *ngIf="txHash" class="col-md-12 my-5">
    <div class="d-flex justify-content-center">
      <h2>Transaction Hash</h2>
    </div>
    <div class="d-flex justify-content-center">
      <p>{{ txHash }}</p>
    </div>
  </div>
</div>
