<div class="container">
  <div class="row p-5">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <h2>Simple Wallet App</h2>
      </div>
    </div>
  </div>
  <div *ngIf="isLoaded" class="col-md-12 my-4">
    <div class="d-flex justify-content-center">
      <h2>Account balance</h2>
    </div>
    <div class="d-flex justify-content-center">
      <p>{{ balance }} TCRO</p>
    </div>
    <div class="d-flex justify-content-center">
      <h2>Account address</h2>
    </div>
    <div class="d-flex justify-content-center">
      <p>{{ userWalletAddress }}</p>
    </div>
  </div>
  <div *ngIf="isLoaded" class="d-flex justify-content-center">
    <button
      [disabled]="isTransactionPending"
      (click)="handleTransaction()"
      class="btn btn-primary"
    >
      Send 1 TCRO
    </button>
  </div>
</div>
